[build]
  command = "next build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "NEXT_PUBLIC_PRISMIC_ENVIRONMENT,NEXT_PUBLIC_SUPABASE_ANON_KEY,NEXT_PUBLIC_SUPABASE_URL,PRISMIC_API_ENDPOINT"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "https://studio.lunim.io/*"
  to = "https://lunim.io/digital/:splat"
  status = 301
  force = true
